
/src/*.js
babel.config.js
node_modules
main.js
postItems.js
popUpFunction.js
getPokemon.js
getItems.js
displayPokemon.js
displayLikeCount.js
createLike.js
comments.js
addComment.js
index.js
index.css
