# Valid
babel.config.js
index.js
/home/runner/work/JavaScript-Capstone-Project/JavaScript-Capstone-Project/node_modules/esquery/dist/esquery.min.js
/home/runner/work/JavaScript-Capstone-Project/JavaScript-Capstone-Project/node_modules/esquery/dist/esquery.min.js