*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.flex {
  display: flex;
}

.navigationItems {
  list-style-type: none;
  flex-direction: row;
  justify-content: space-evenly;
}

.footer-text {
  text-transform: capitalize;
  text-align: center;
}

main {
  min-height: calc(100vh - 4rem);
  justify-content: center;
}

.section-container {
  width: 100%;
  max-width: 1200px;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.card {
  display: grid;
  grid-template-columns: 1fr;
  padding: 0.5rem;
  margin: 1rem 2rem;
}

.card-header {
  width: 100%;
  height: 200px;
}

.card-img {
  width: 100%;
  height: 100%;
}

.card-body {
  justify-content: space-between;
  align-items: center;
}

.card-footer {
  align-items: center;
}

.btn {
  align-items: center;
  justify-content: center;
  background: transparent;
  border: none;
  padding: 0.25rem;
}

.btn-comment {
  width: 100%;
  font-size: 1.2rem;
  text-transform: capitalize;
  outline: 3pt solid black;
  border-radius: 0.2rem;
  margin: 0.5rem 0;
}

.card-body p {
  text-transform: capitalize;
  font-weight: bold;
}

.likes-container {
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
}

.likes-container h5 {
  text-transform: capitalize;
}
