*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.body {
  font-family: cursive;
  background-color: rgb(155, 226, 174);
}

.flex {
  display: flex;
}

.navigationBar {
  display: flex;
  flex-direction: column;
}

.navigationItems {
  list-style-type: none;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 50px;
}

footer {
  display: flex;
  justify-content: center;
}

.footer-text {
  text-transform: capitalize;
  text-align: center;
}

main {
  min-height: calc(100vh - 4rem);
  justify-content: center;
  display: grid;
}

.section-container {
  width: 100%;
  max-width: 1200px;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.card {
  display: grid;
  grid-template-columns: 1fr;
  padding: 0.5rem;
  margin: 1rem 2rem;
}

.card-header {
  width: 100%;
  height: 200px;
}

.card-img {
  width: 100%;
  height: 100%;
}

.card-body {
  justify-content: space-between;
  align-items: center;
}

.card-footer {
  align-items: center;
}

.popUp {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  margin: 30px;
}

.popUpXButton {
  height: 50px;
  width: 10%;
  margin-top: 50px;
  margin-right: 50px;
  color: rgb(54, 3, 22);
  background-color: rgba(187, 205, 137, 0.897);
}

.popUpTitle {
  text-transform: capitalize;
}

.popUpProperties {
  text-transform: capitalize;
  margin-top: 10px;
  margin-bottom: 10px;
}

.close {
  display: none;
}

.btn {
  align-items: center;
  justify-content: center;
  background: transparent;
  border: none;
  padding: 0.25rem;
}

.btn-comment {
  width: 100%;
  font-size: 1.2rem;
  text-transform: capitalize;
  outline: 3pt solid black;
  border-radius: 0.2rem;
  margin: 0.5rem 0;
}

.card-body p {
  text-transform: capitalize;
  font-weight: bold;
}

.likes-container {
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
}

.likes-container h5 {
  text-transform: capitalize;
}

.containerPopUp {
  background-color: rgb(175, 220, 219);
}

.like-btn {
  color: red;
  background: transparent;
  border: none;
}

.commentForm {
  margin-top: 30px;
}

.formContainer {
  list-style-type: none;
}

.show {
  display: block;
}

.item-count {
  text-align: center;
  text-transform: capitalize;
}

.imageSize {
  height: 200px;
}

.liItem {
  margin: 5px 5px 5px 5px;
}

.commentsCount {
  margin-bottom: 10px;
}

.formItems {
  margin: 5px 0 5px 0;
}