.flex {
  display: flex;
}

.navigationItems {
  list-style-type: none;
  flex-direction: row;
  justify-content: space-evenly;
}
.navigationItems li {
}
.footer-text {
  text-transform: capitalize;
}
